body {
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

.group-cards {
    display: flex;
}

.card {
    height: 50rem;
    background-color: rgba(0, 195, 255, 0.692);
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: black;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

}

.color-lozenge {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #d2b48c;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.color-lozenge-a {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #5a3a22;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 0.5rem;

}

.color-lozenge-b {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.color-lozenge-c {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}


/* .bonjour {
    color: red;
} */

img {
    height: 14rem;
    object-fit: cover;
    padding-bottom: 1rem;
}

.button_no_deco {
    text-decoration: none;
}

.box_button_group {
    display: flex;
    justify-content: flex-end;
}

.box_button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.box_logo {
    display: flex;
    justify-content: center;
    background-color: #f3e9f1;
}

.title_center {
    text-align: center;
}

.search_bar {
    width: 30rem;
}

label {
    display: block;
    font: 1rem 'Roboto, sans-serif';
}



.box_logo_image {
    height: 3rem;
}

.links_box {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    margin-top: 3rem;
}

.unique_link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon_size {
    font-size: 2rem;

}