@font-face {
    font-family: 'Delicious';
    src: local('Documents/P5-Danvers-Morgan/Fonts/Delicious.tff.ttf') format("truetype");
}

body {
    font-family: "Delicious";
    padding-left: 1rem;
    padding-right: 1rem;
}

.button_no_deco {
    text-decoration: none;
}

.box_button_group {
    display: flex;
    justify-content: flex-end;
}

.box_button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.box_logo {
    display: flex;
    justify-content: center;
    background-color: #f3e9f1;
}

.title_center {
    text-align: center;
}

.search_bar {
    width: 30rem;
}

label {
    display: block;
    font: 1rem 'Delicious';
}



.box_logo__image {
    width: 350px;
}

.links_box {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    margin-top: 3rem;
}

.unique_link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon_size {
    font-size: 2rem;

}